# Automatic installation
d-i auto-install/enable boolean true

# Set OS locale
d-i debian-installer/language string en
d-i debian-installer/country string UA
d-i debian-installer/locale string en_US.UTF-8

# Set the keyboard layout
d-i keyboard-configuration/xkb-keymap select us

# Network configuration
d-i netcfg/choose_interface select auto

# Set hostname
d-i netcfg/hostname string debian-host

# Mirror from which packages will be downloaded
d-i mirror/country string UA
d-i	mirror/https/hostname	string	deb.debian.org
d-i	mirror/https/directory	string	/debian/
d-i mirror/http/proxy string

# Configure hardware clock
d-i clock-setup/utc boolean true

# Set timezone
d-i time/zone string Europe/Kyiv

# Create root uer 
d-i passwd/root-login boolean true
d-i passwd/root-password password vagrant
d-i passwd/root-password-again password vagrant

# Create a normal user account
d-i passwd/user-fullname string vagrant
d-i passwd/username string vagrant
d-i passwd/user-password password vagrant
d-i passwd/user-password-again password vagrant
d-i passwd/user-uid string 1000

# Disk configuration
d-i partman-auto/method string lvm
d-i partman-lvm/device_remove_lvm boolean true
d-i partman-lvm/confirm boolean true
d-i partman-lvm/confirm_nooverwrite boolean true

d-i partman-partitioning/confirm_write_new_label boolean true
d-i partman/choose_partition select finish
d-i partman/confirm boolean true
d-i partman/confirm_nooverwrite boolean true

d-i partman/mount_style select uuid
# d-i partman-basicfilesystems/no_swap boolean false

# d-i partman-auto/expert_recipe string   
#       lvm ::                                                   \
#                 500 500 500 ext2                               \
#                         $primary{ } $bootable{ }               \
#                         method{ format } format{ }             \
#                         use_filesystem{ } filesystem{ ext2 }   \
#                         mountpoint{ /boot }                    \
#                 .                                              \
#                 100 1000000 1000000 ext4                        \
#                         $lvmok{ }                               \
#                         lv_name{ root }                         \
#                         method{ lvm } format{ }                 \
#                         use_filesystem{ } filesystem{ ext4 }    \
#                         mountpoint{ / }                         \
#                 .

# d-i partman-auto/choose_recipe select lvm

# Bootloader options
d-i grub-installer/only_debian boolean true
d-i grub-installer/with_other_os boolean true
d-i grub-installer/bootdev string /dev/sda

# Do not scan additional CDs
apt-cdrom-setup apt-setup/cdrom/set-first boolean false

# Use network mirror
apt-mirror-setup apt-setup/use_mirror boolean true

# Select base install
tasksel tasksel/first multiselect ssh-server

# Extra packages to be installed
d-i pkgsel/include string sudo

# Disable polularity contest
popularity-contest popularity-contest/participate boolean false

# Whether to upgrade packages after debootstrap
d-i pkgsel/upgrade select none

# Umount ISO after installation
d-i cdrom-detect/eject boolean false

# Reboot once the install is done
d-i finish-install/reboot_in_progress note

# Setup passwordless sudo for packer user
d-i preseed/late_command string \
  echo "vagrant ALL=(ALL:ALL) NOPASSWD:ALL" > /target/etc/sudoers.d/vagrant && chmod 0440 /target/etc/sudoers.d/vagrant