vm_settings:
  cpus: 4
  memory: 4096
  disk_size: 150000
  firmware_type: "efi"
  export_format: "ova"

iso_config:
  interface: "sata"
  source: "../../iso" 

guest_interaction:
  communicator: "ssh"
  timezone: "Europe/Kyiv"

ssh_config:
  username: "vagrant"
  password: "vagrant"
  hash_password: "$6$dYP4Mnb3ucA/f3j0$nY5YHd3FF/vCve8mYN4c0N1T0kTe.zN5bHwpaoTbSAY.rwtbHVSFtrFotgaW8A1DJS/AKc7PUSmlKHu9.rRpH0"
  pub_key: "ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIN1YdxBpNlzxDqfJyw/QKow1F+wvG9hXGoqiysfJOn5Y vagrant insecure public key"
  timeout: "30m"

boot_control:
  boot_wait: "5s"
  shutdown_command: "sudo shutdown -P now"
  http_directory: "http"