vm_settings:
  cpus: 4
  memory: 4096
  disk_size: 150000
  firmware_type: "efi"
  export_format: "ova"

iso_config:
  interface: "sata"
  source: "../../iso" 

guest_interaction:
  communicator: "ssh"
  timezone: "Europe/Kyiv"

ssh_config:
  username: ""
  password: ""
  private_key_file: ""
  pub_key: ""
  timeout: "30m"

boot_control:
  boot_wait: "5s"
  shutdown_command: "sudo shutdown -P now"
  http_directory: "http"