packer_builder_name: "debian"
vbox_guest_os_type: "Debian_64"
vmware_guest_os_type: "debian13-64"
vm_name: "debian-13"

preseed_config:
  mirror_hostname: "deb.debian.org"

iso_config:
  url: "https://cdimage.debian.org/debian-cd/current/amd64/iso-cd" 
  file: "debian-13.2.0-amd64-netinst.iso"
  checksum: "file:https://cdimage.debian.org/debian-cd/current/amd64/iso-cd/SHA512SUMS"

boot_command:
  - "<wait><wait><wait>c<wait><wait><wait>"
  - "linux /install.amd/vmlinuz "
  - "auto=true " 
  - "url=http://{{ .HTTPIP }}:{{ .HTTPPort }}/preseed.cfg "
  - "interface=auto "
  - "netcfg/hostname=debian netcfg/get_hostname=debian netcfg/get_domain='' "
  - "vga=788 noprompt quiet --<enter>" 
  - "initrd /install.amd/initrd.gz<enter>"
  - "boot<enter>"