locals {
  output_directory = "builds/${formatdate("YYYY-MM-DD_hh-mm", timestamp())}"
}

variable "cpus" {
  type    = number
  default = {{ vm_settings.cpus }}
}

variable "memory" {
  type    = number
  default = {{ vm_settings.memory }}
}

variable "disk_size" {
  type    = number
  default = {{ vm_settings.disk_size }}
}

variable "gfx_vram_size" {
  type    = number
  default = {{ vm_settings.gfx_vram_size }}
}

variable "hard_drive_interface" {
  type    = string
  default = "{{ disk_config.interface }}"
}

variable "hard_drive_discard" {
  type    = bool
  default = {{ disk_config.is_discard | lower }}
}

variable "hard_drive_nonrotational" {
  type    = bool
  default = {{ disk_config.is_nonrotational | lower }}
}

variable "guest_os_type" {
  type    = string
  default = "{{ guest_os_type }}"
}

variable "firmware_type" {
  type    = string
  default = "{{ vm_settings.firmware_type }}"
}

variable "guest_additions_mode" {
  type    = string
  default = "{{ guest_interaction.guest_additions_mode }}"
}

variable "iso_interface" {
  type    = string
  default = "{{ iso_config.interface }}"
}

variable "iso_source" {
  type    = string
  default = "{{ iso_config.source }}"
}

variable "iso_file" {
  type    = string
  default = "{{ iso_config.file }}"
}

variable "iso_url" {
  type    = string
  default = "{{ iso_config.url }}"
}

variable "iso_checksum" {
  type    = string
  default = "{{ iso_config.checksum }}"
}

variable "export_format" {
  type    = string
  default = "{{ vm_settings.export_format }}"
}

variable "vm_name" {
  type    = string
  default = "{{ vm_name }}"
}

{% if guest_os_type == "Debian_64" -%}
variable "vm_hostname" {
  type    = string
  default = "{{ vm_hostname }}"
}

variable "vm_domain" {
  type    = string
  default = "{{ preseed_config.domain }}"
}
{%- endif %}

variable "ssh_username" {
  type    = string
  default = "{{ ssh_config.username }}"
}

variable "ssh_password" {
  type    = string
  default = "{{ ssh_config.password }}"
}

variable "ssh_pub_key" {
  type    = string
  default = "{{ ssh_config.pub_key }}"
}

variable "ssh_timeout" {
  type    = string
  default = "{{ ssh_config.timeout }}"
}

variable "communicator" {
  type    = string
  default = "{{ guest_interaction.communicator }}"
}

variable "boot_wait" {
  type    = string
  default = "{{ boot_control.boot_wait }}"
}

variable "shutdown_command" {
  type    = string
  default = "{{ boot_control.shutdown_command }}"
}

variable "http_directory" {
  type    = string
  default = "{{ boot_control.http_directory }}"
}