#cloud-config
autoinstall:
  version: 1

  source:
    search_drivers: false
    id: ubuntu-server-minimal

  storage:
    swap:
      size: 0
    layout:
      name: lvm

  ssh:
    install-server: true
    allow-pw: true

  packages:
    - bzip2
    - gcc
    - make
    - dkms
    - perl
    - build-essential
    - python3

  timezone: {{ guest_interaction.timezone }}

  updates: all
    
  late-commands:
    - lvextend -l +100%FREE /dev/ubuntu-vg/ubuntu-lv
    - resize2fs /dev/mapper/ubuntu--vg-ubuntu--lv
    - echo "{{ ssh_config.ssh_username }} ALL=(ALL:ALL) NOPASSWD:ALL" > /target/etc/sudoers.d/{{ ssh_config.ssh_username }}

  user-data:
    hostname: {{ vm_hostname }}
    users:
      - name: {{ ssh_config.ssh_username }}
        passwd: '$6$dYP4Mnb3ucA/f3j0$nY5YHd3FF/vCve8mYN4c0N1T0kTe.zN5bHwpaoTbSAY.rwtbHVSFtrFotgaW8A1DJS/AKc7PUSmlKHu9.rRpH0'
        shell: /bin/bash
        lock_passwd: False
        groups: sudo
        ssh_authorized_keys:
         - {{ ssh_config.ssh_pub_key }}