#cloud-config
autoinstall:
  version: 1

  source:
    search_drivers: false
    id: ubuntu-server-minimal

  storage:
    swap:
      size: 0
    layout:
      name: lvm

  ssh:
    install-server: true
    allow-pw: true

  packages:
    - python3

  timezone: {{ guest_interaction.timezone }}

  updates: all
    
  late-commands:
    - lvextend -l +100%FREE /dev/ubuntu-vg/ubuntu-lv
    - resize2fs /dev/mapper/ubuntu--vg-ubuntu--lv
    - echo "{{ ssh_config.username }} ALL=(ALL:ALL) NOPASSWD:ALL" > /target/etc/sudoers.d/{{ ssh_config.username }}

  user-data:
    hostname: ubuntu
    users:
      - name: {{ ssh_config.username }}
        passwd: "{{ ssh_config.hash_password }}"
        shell: /bin/bash
        lock_passwd: False
        groups: sudo
        ssh_authorized_keys:
         - {{ ssh_config.pub_key }}